.menuWrapper:hover > span div img {
  background-color: #c0c3c6;
}

.menuWrapper:hover > span div p {
  text-decoration: underline;
}

.pagination > li {
  list-style: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.cartWrapper {
  position: relative;
}

.cart{
  position: absolute;
  background-color: red;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  padding: 2px 8px;
  bottom: -4px;
  right: -6px;
}
